*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color:#ff99cc;
  }
  
.container {
    text-align: center;
    margin-top: 50px;
}  
h1 {
    color: #333;
}
  
.quote {
    background-color:#ccffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    min-height: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
button {
    background-color: #e5ccff;
    color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color:#ffcce5;
}
